* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 3px solid black;
    margin: 10px;
    position: relative;
}

.box {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid black;
}

.box1 {
    background-color: #264653;
    position: static;
    left: 10px;
}

.box2 {
    background-color: #2a9d8f;
    position: relative;
    left: 400px;
    top: 50px;
}

.box3 {
    background-color: #e76f51;
    position: absolute;
    left: 115px;
    top: 110px;
}

.box4 {
    background-color: #f4a261;
    position: sticky;
    top: 10px;
}

.box5 {
    background-color: #e9c46a;
    position: fixed;
    right: 10px;
    bottom: 10px;
}